<ion-view view-title="Countries">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="country in countrylist" 
                ng-click="selectCountry(country, $index)" ng-class="{active: activeCountry == country}">
        <img ng-src="{{country.imagePath}}">
        {{country.country}}
          
        <ion-option-button class="button-assertive" ng-click="remove(country)">
          Delete
        </ion-option-button>  
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
