<!--

<ion-view view-title="Recipes">
  <ion-content scroll="false">
    
    <ion-list>
      <ion-item ng-repeat="task in activeProject.tasks">
        {{task.title}}
      </ion-item>
    </ion-list>
    
  </ion-content>  
</ion-view>

-->

<ion-view view-title="Recipes">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-plus-empty" ng-click="createRecipe()">
    </button>
  </ion-nav-buttons>   
  
  <div class="bar bar-subheader item-input-inset">
      <label class="item-input-wrapper" id="search-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="searchKey" type="search" placeholder="Search" autocorrect="off" ng-model="searchKey" ng-change="loadData()">
      </label>
      <button class="button button-clear icon ion-close-round" ng-click="clearSearch()"></button>
  </div>  
  
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="recipe in recipelist" href="#/app/recipe/{{recipe._id}}">
        <img ng-src="{{recipe.imagePath}}">
        {{recipe.name}}
        <p>{{recipe.tags}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>  
        <ion-option-button class="button-assertive" ng-click="remove(recipe)">
          Delete
        </ion-option-button>  
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

