<ion-modal-view>
  
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRecipe()">Close</button>
    </div>        
    <h1 class="title">Update Recipe</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRecipe()">Close</button>
    </div>    
  </ion-header-bar>
  
  <ion-content>
    <form ng-submit="acceptRecipe()">    
      <ion-slide-box show-pager="true" >
        <!-- class= "has-header" style="position:absolute; bottom:0; left:0; right: 0;" -->
        <ion-slide>    

            <div class="list card">

              <div class="item item-divider item-text-wrap item-input">
                <input type="text" placeholder="Description" ng-model="recipe.description">                
              </div>  
              
              <div class="row">
                <div class="col col-66">
                  <div class="item">
                    Preparation time (m)
                  </div>            
                </div>

                <div class="col col-33">
                  <div class="item item-input">
                    <input type="text" placeholder="0" ng-model="recipe.preparationtime" style="text-align: right"> 
                  </div>            
                </div>
              </div>

              <div class="row">
                <div class="col col-66">
                  <div class="item">
                    Cooking time (m)
                  </div>            
                </div>

                <div class="col col-33">
                  <div class="item item-input">                    
                    <input type="text" placeholder="0" ng-model="recipe.cookingtime" style="text-align: right"> 
                  </div>            
                </div>            
              </div>

              <div class="row">
                <div class="col col-33">
                  <div class="item">
                    Serves
                  </div>            
                </div>
                <div class="col col-66">
                  <div class="item item-input" >
                    <input type="text" placeholder="Serves" ng-model="recipe.serves" style="text-align: right">
                  </div>            
                </div>                
              </div>

              <div class="row">
                <div class="col col-33">
                  <div class="item">
                    Author
                  </div>            
                </div>
                <div class="col col-66">
                  <div class="item item-text-wrap item-input">                  
                    <textarea placeholder="Author" ng-model="recipe.author"></textarea>                                        
                  </div>            
                </div>                
              </div>

              <div class="row">
                <div class="col col-33">
                  <div class="item">
                    Source
                  </div>            
                </div>
                <div class="col col-66">
                  <div class="item item-text-wrap item-input">                                      
                    <textarea placeholder="Source" ng-model="recipe.source"></textarea>
                  </div>            
                </div>                
              </div>          

              <ion-item ng-repeat="tag in tags" class="item-icon-left" ng-click="setSearchKey(tag)">
                  <i class="icon ion-pricetag placeholder-icon"></i>
                  <span ng-bind="tag"></span>
              </ion-item>                 

            </div>

            <div class="row">&nbsp;</div>  

        </ion-slide>

        <ion-slide>
          <div class="card">
            <div class="item item-divider">
              Ingredients
            </div>          
            <div class="row">
              <div class="col">
                <div class="item">                  
                  <textarea placeholder="Ingredients" ng-model="recipe.ingredient1"></textarea>   
                </div>            
              </div>
              <div class="col">
                <div class="item item-input text">                  
                  <textarea placeholder="Ingredients" ng-model="recipe.ingredient2"></textarea>   
                </div>            
              </div>        
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="card">
            <div class="item item-divider">
              Instructions
            </div>                    
            <div class="item item-input">              
              
              <textarea placeholder="Production" rows="22" ng-model="recipe.production"></textarea> 
            </div>  
          </div>
        </ion-slide>

      </ion-slide-box>      
      
      <label class="item">
        <button class="button button-block button-positive" type="submit">Accept</button>
      </label>
      
    </form>
    
    
  </ion-content>
</ion-modal-view>
